<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- Navbar start -->
   {{>navbar}}
    <!-- Header -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 ">
                        <figure class="main_header_left">
                            <img src="images/pexels-rubaitul-azad-12812695.jpg" alt="Reload" class="img-fluid align-items-center myimg ">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left identity">
                        <p>Welcome to Smart Weather App</p>
                        <h1>I am a <span class="weather">MERN stack</span> Developer</h1>
                        <a href="/weather"><button>About ME</button></a>

                    </div>
                    <!-- right side div -->


                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Made by Muhammad Junaid ❤</p>
    </footer>



</body>

</html>